<div class="wrapper">   
     <div class="toggle-container">
        <mat-button-toggle-group
        [hideSingleSelectionIndicator]="true" 
        [(ngModel)]="toggleMode" 
        (change)="onModeChange($event.value)">
            <mat-button-toggle value="creation">Creation Mode</mat-button-toggle>
            <mat-button-toggle value="deletion">Deletion Mode</mat-button-toggle>
        </mat-button-toggle-group>
     </div>
    <div>
        <!-- SVG Area where polygons will be drawn -->
        <svg 
            (click)="addPoint($event)" 
            id="zoneCanvas" 
            width="100%" 
            height="600" 
            style="border: 1px solid black">
        
        <!-- Existing polygons (zones) -->
         <ng-container *ngFor="let zone of zones; let i = index">
            <polygon 
                [attr.points]="zone.points"
                stroke="black"
                fill="transparent"
                (click)="deleteZone(i)">
            </polygon>
            <text 
                [attr.x]="zone.points[0][0]"
                [attr.y]="zone.points[0][1]"
                fill="black">
                {{zone.name}}
            </text>
         </ng-container>
        
            <!-- Polygon currently being drawn -->
            <polygon 
                *ngIf="isCreationMode" 
                [attr.points]="currentPoints"
                stroke="blue" 
                fill="transparent">
            </polygon>
        </svg>
    </div>
  </div>