<div class="wrapper">   
    <div class="page-title"><h2>Zone Manager</h2></div>
    <div>
        <!-- SVG Area where zones will be drawn -->
        <svg 
            (click)="addPoint($event)"
            (contextmenu)="onRightClick($event, -1)"
            id="zoneCanvas" 
            width="100%" 
            height="600" 
            style="border: 1px solid black">
        
        <!-- Exitsting zones -->
         <ng-container *ngFor="let zone of zones; let i = index">
            <polygon 
                [attr.points]="zone.points"
                stroke="black"
                fill="transparent"
                (contextmenu)="onRightClick($event, i)">
            </polygon>
            <text 
                [attr.x]="zone.points[0][0]"
                [attr.y]="zone.points[0][1]"
                fill="black">
                {{zone.name}}
            </text>
         </ng-container>
        
            <!-- Zone currently being drawn -->
            <polygon 
                [attr.points]="currentPoints"
                stroke="blue" 
                fill="transparent">
            </polygon>
        </svg>
    </div>
  </div>